%ul.chat-main__name
  %li.chat-main__name
    = message.user.name
    = message.created_at.strftime('%Y/%m/%d %H:%M')
    %p.chat-main__messages
      = message.body
      = image_tag message.image.to_s
