.chat-side
  .chat-side__user SampleName
  .chat-side__contents
    %ul.chat-side__groups
    %li.chat-side__group SampleGruop1
    %p.chat-side__message まだメッセージはありません
    %li.chat-side__group SampleGruop2
    %p.chat-side__message まだメッセージはありません
    %li.chat-side__group SampleGruop3
    %p.chat-side__message まだメッセージはありません
    %li.chat-side__group SampleGruop4
    %p.chat-side__message まだメッセージはありません
