.chat-side
  .chat-side__user SampleName
  %ul.chat-side__icons
    %li.chat-side__icon
      = link_to edit_user_path(current_user),method: :get do
        %i.fa.fa-cog
    %li.chat-side__icon
      %i.fa.fa-pencil-square-o{ "aria-hidden": :true }
  .chat-side__contents
    %ul.chat-side__groups
    %li.chat-side__group SampleGruop1
    %p.chat-side__message まだメッセージはありません
    %li.chat-side__group SampleGruop2
    %p.chat-side__message まだメッセージはありません
    %li.chat-side__group SampleGruop3
    %p.chat-side__message まだメッセージはありません
    %li.chat-side__group SampleGruop4
    %p.chat-side__message まだメッセージはありません
