$side-message-color: #FFFFFF;
$main-message-color: #434A54;
$side-content-width: 300px;

html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.chat{
 height: 100vh;
 width: 100vw;

.header{
  background-color: #38AEF0;
  color:$side-message-color;
  text-align: center;
  }
.wrapper{
  display:flex;
}

.chat-side{
  width: $side-content-width;
  float:left;
  .chat-side__user{
   background-color: #253141;
   height:82px;
   color: $side-message-color;
   font-size: 16px;
   font-weight: bold;
   line-height: 70px;
   padding: 0 20px 0 20px;
  }
  .chat-side__contents{
  background-color: #2f3e51;
  clear: both;
  height: calc(100vh - 106px);
  }
 .chat-side__group{
  color: $side-message-color;
  font-size: 15px;
  list-style: none;
  padding: 20px 20px 0 20px;
  }
  .chat-side__message{
  color: $side-message-color;
  font-size: 11px;
  padding: 5px 20px 20px 20px;
  }
}

.chat-main{
  float: right;
  width: calc(100vw - 300px);
  .chat-main__title{
   font-size: 20px;
   line-height: 20px;
   margin-top: 35px;
   padding: 0 40px 0 40px;
   color: #333333;
 }
  .chat-main__member{
    font-size: 12px;
    line-height: 12px;
    margin-top: 15px;
    padding: 0 40px 0 40px;
    color: #999999;
    }
  .chat-main__contents{
  background-color: #FAFAFA;
  padding: 46px 40px 0 40px;
  height: calc(100vw - 106px - 90px);
  }
  .chat-main__post{
  }
    .chat-main__name{
      color: $main-message-color;
      list-style:none;
      font-weight: bold;
      font-size: 16px;
      padding-bottom: 10px;
    }
    .chat-main__message{
      color: $main-message-color;
      font-size: 14px;
      padding-bottom: 40px;
      display: block;
    }
 }
 .chat-main__send{
  background-color: #AAAAAA;
  height: 50px;
  padding: 20px 40px 20px 40px;
  .chat-input{
    float: left;
    outline: 0;
    border: none;
    height: 50px;
    width: calc(100vw - 550px);
    padding-left: 10px;
  }
  .chat-send{
    outline: 0;
    border: none;
    color: #FFFFFF;
    background-color: #38AEF0;
    height: 50px;
    width:100px;
    margin-left: 15px;
    margin-right: 40px;
  }
 }
}
